/* 
основной цвет фона  #FFFFFF (no- #E5E5E5)
вторичный цвет фона #F5F4FA
акцент              #2196F3
фон кнопки-фильтра  #F5F4FA
цвет фона карточки наша команда #FFFFFF
цвет фона карточки портфолио,   #EEEEEE      
цвет фона навигации             #FFFFFF
цвет фона футтера               #2F303A
цвет фона (временная подмена) Герой #2F303A
+++++++++++++++++++++++++++++++++++++++++++++
основной цвет текста <p>             #757575
         button, навигация, h3, h2-  #212121
         футтер                      #FFFFFF         
+++++++++++++++++++++++++++++++++++++++++++++
р3
LOGO
WEB-    #2196F3 
Font Raleway 700
Studio (хедер)-     #000000
Studio (футтер)-    #FFFFFF
++++++++++++++++++++++++++++++++++++++++++++

font-family: Raleway    700;

font-family: Roboto     900, 700, 500, 400;
Hover Button-Hero   background: #188CE8; !!!!!!!!
No-Hover Button-Hero  background: #2196F3; !!!!!!!!

++++++++++++++++++++++++
regular customers 
border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
++++++++++++++++++++++++
antenna, astronaut, clock, diagram,  - #212121 and #2196f3
yaco, tagline, twitter, linkedin, instagram, facebook, companytag, company, brand, fosterpeters - #afb1b8
smartphone, envelope - #757575
HW06 icon

*/




/* ========= Modal Windows ======== 

@import "./components/modal-window";

========= Modal form ========= 

@import "./components/modal-form";
/* ========= Header =========
@import "./components/header";

/* ========= COMPONENTS Logo ========= */


/* =========COMPONENTS Navigation header =========
_navigation-header.scss


 ========= Hero ========= */
 /* @import "./components/hero"; */
/* Hero Button 

@import "./components/hero-btn";

 END Hero Button */

/* ======= Particularities ======= 
_particularities.scss

*/

/* ======= Practice ======= 

*/


/* ======= Practice decoration title ======= 
@import "./components/practice"; */

/* ======= Our team ======= 
_our-team.scss
*/


/* Component  social links of Team members 

@import "./components/footer-social-list";

 END Component  social links of Team members */

/* ======= Our regular customers  ======= 
_reg-customers.scss
*/



/* ======= Footer .container  ======= 
_footer.scss
*/



/* Components Footer LOGO  */


/* END Components Footer LOGO  */

/* Components Footer Address list 
_footer-adress-list.scss
*/



/* =======Components footer-social-links ======= */



/* ======= Footer Form ======= 
@import "./components/footer-form";
*/



/* ======= CSS rules for Portfolio.html ======= 
_portfolio.scss
*/


/* ======= Filtres button ======= 
_filtress-btn.scss
*/



/* ======= Portfolio-Cards ======= 
_portfolio-cards.scss
*/


